body {
   font-family: Arial;
   letter-spacing: 0.055em;
   font-weight: 700;
   color: #fff;
}

.container {
   max-width: 1300px;
   padding: 0 5px;
   margin: 0 auto;
}

a {
   display: block;
   text-decoration: none;
}

.price-title {
   font-size: 15px;
   font-weight: 400;
   color: #ececec;
   line-height: 25px;
   margin-top: 53px;
}

.pricen {
   display: flex;
   max-width: 600px;
   align-items: center;
}

.current-price {
   font-size: 50px;
   line-height: 67px;
   color: #ececec;
   margin: 8px 0;
}

.old-price {
   color: #777a80;
   font-size: 40px;
   line-height: 54px;
   margin-left: 25px;
   text-decoration: line-through;
   text-decoration-thickness: 1px;
}

.month-price {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   max-width: 740px;
   background-color: #140F1C;
   color: #B74ED9;
   height: 140px;
   border-radius: 0px 0px 20px 20px;
   border-top: 0.5px solid rgba(255, 255, 255, 0.5);
   margin-right: 15px;
}

.month-price h2 {
   font-size: 60px;
   line-height: 80px;
}

.month-price p {
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   margin-left: 40px;
   display: block;
}

.pay ul {
   display: flex;
   align-items: center;
   margin-right: 20px;
}

.pay {
   margin-top: 70px;
}

.payment-method {
   padding: 0 51px; 
   height: 60px;
   border-image-slice: 1;
   font-size: 13px;
   line-height: 15px;
   margin-right: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(180deg, rgba(213,40,215,1) 22%, rgba(243,112,70,1) 77%);
   background-size: 100%;
   background-repeat: repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
   transition: all .3s;
   border-radius: 52px;
   border: 1px solid #c94db3;
}

.payment-method:hover {
   background: linear-gradient(180deg, rgba(222,56,189,1) 0%, rgba(240,103,97,1) 92%);
   color: rgb(255, 255, 255);
   border: none;
   -webkit-background-clip: unset;
   -webkit-text-fill-color: unset; 
   -moz-background-clip: unset;
   -moz-text-fill-color: transparent;
}