body {
   font-family: Arial;
   letter-spacing: 0.055em;
   font-weight: 700;
   color: #fff;
}

.container {
   max-width: 1300px;
   padding: 0 5px;
   margin: 0 auto;
}

.form {
   background-image: url(images/background.png);
   background-color: #0B0316;
   background-repeat: no-repeat;
   background-position: 50px 150px;
   padding: 72px 0;
}

form {
   max-width: 740px;
   margin-top: 25px;
   padding-right: 20px;
}

label {
   color: #fff;
   font-size: 17px;
   line-height: 20px;
}

.field {
   width: 100%;
   background-color: inherit;
   border: 1px solid rgba(255, 255, 255, 0.8);
   border-radius: 79px;
   height: 73px;
   margin: 15px 0 30px;
   padding: 28px 33px;
   line-height: 15px;
   outline: none;
   color: #fff;
   font-size: 17px;
}

.field::placeholder {
   color: #fff;
   font-size: 13px;
   line-height: 15px;
   font-weight: 700;
   opacity: 80%;
}

.form__title {
   font-size: 65px;
   line-height: 87px;
   background: linear-gradient(90deg, rgba(213,40,215,1) 28%, rgba(243,112,70,1) 40%);
   background-size: 100%;
   background-repeat: repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
}

.trainings {
   max-width: 630px;
   margin-top: 20px;
}

.training-title {
   margin: 20px 0;
}

.training__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.formtitle {
   display: block;
}

.training__item {
   transition: background .5s;
}

.input__radio {
   display: none;
}

.input__label {
   padding: 28px;
   border-radius: 79px;
   border: 1px solid rgba(255, 255, 255, 0.8);
   font-size: 13px;
   width: 190px;
   height: 72px;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   opacity: 80%;
}

.input__radio:checked + .input__label, .input__label:hover {
   background: linear-gradient(to right, #D629D5, #F36F49);
   border: none;
}

.first-item {
   width: 300px;
}

.active {
   background: linear-gradient(to right, #D629D5, #F36F49);
}
.flex-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.block-element-1 + li {
   margin-left: 20px;
}

@media (max-width: 1400px) {
   .form {
      background-position: center;
   }
   .training-title {
      margin: 20px 0;
   }
}

@media (max-width: 1280px) {
   .form {
      padding-left: 20px;
   }
}

@media (max-width: 840px) {
   .training__list {
      flex-direction: column;
   }
  
   .training__list-second,
   .training__list-third {
      margin-top: 40px;
   }
   .first-item, .input__label {
      width: 100%;
   }

   .flex-wrapper > .training__item {
      width: 50%;
   }

   .input__label {
      float: right;
   }
   .pay ul {
      justify-content: space-between;
   }
   .pay-item {
      margin-top: 15px;
   }
}

@media (max-width: 640px) {
   .payment-method {
      margin-top: 15px;
   }
   .pricen {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
   }
   .form__title {
      font-size: 35px;
   }
   .pay {
      margin-top: 15px;
   }
   .pay ul {
      flex-direction: column;
   }
   .pay-item {
      width: 100%;
   }
   .payment-method {
      width: 100%;
   }
}

@media (max-width: 370px) {
   .form__title {
      font-size: 35px;
   }
}

@media (max-width: 340px) {
   .form__title {
      font-size: 33px;
   }
   .form {
      margin-top: 15px;
   }
}