body {
   font-family: Arial;
   letter-spacing: 0.055em;
   font-weight: 700;
   color: #fff;
}

.container {
   max-width: 1300px;
   padding: 0 5px;
   margin: 0 auto;
}

a {
   display: block;
   text-decoration: none;
}

.connect {
   background-color: #110022;
}

.connect-top {
   background-color: #2C193F;
}

.connect-top-items {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 45px 0;
}

.connect-inner {
   padding: 45px 0 100px;
   margin: 0 20px;  
}

.connect-text-inner {
   display: flex;
   justify-content: space-between;
}

.connect-text {
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   max-width: 427px;
}

.connect-form {
   max-width: 740px;
}

.connect-form input {
   width: 100%;
   height: 95px;
   border: 1px solid rgba(255, 255, 255, .5);
   border-radius: 100px;
   background-color: inherit;
   margin-top: 30px;
   padding: 40px 65px;
   outline: none;
   color: #fff;
   font-size: 18px;
}

.connect-form input::placeholder {
   font-size: 16px;
   line-height: 18px;
   color: #fff;
   opacity: 0.4;
   font-weight: 700;
}

.call {
   padding-right: 20px;
}

.call-btn {
   font-size: 14px;
   line-height: 16px;
   width: 300px;
   height: 64px;
   color: #fff;
   border-radius: 67px;
   margin-top: 30px;
   background: linear-gradient(90.6deg, #3D04B7 3%, #235BEB 99.55%);
   display: flex;
   justify-content: center;
   align-items: center;
}

.connect-image img {
   width: 514px;
   height: 350px;
}

.firstTitle {
   font-size: 35px;
   line-height: 40px;
}

.secondTitle {
   font-size: 20px;
   line-height: 23px;
   font-weight: 400;
   margin-top: 10px;
}

.connects {
   width: 390px;
}

.connects-list {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   height: 60px;
}

.connects-list > li {
   padding-left: 36px;
}

.connects li > a {
   font-size: 15px;
   font-weight: 700;
   line-height: 17px;
   color: #fff;
}

.tel {
   position: relative;
}

.mail {
   position: relative;
}

.tel:before, .mail:before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 11px;
   width: 22px;
   height: 22px;
}

.tel:before {
   background-image: url(images/Call.png);
}

.mail:before {
   background-image: url(images/Message.png);
}

@media (max-width: 1280px) {
   .connect-top-items {
      padding-left: 20px;
      padding-right: 20px;
   }
}

@media (max-width: 1100px) {
   .firstTitle {
      font-size: 30px;
      line-height: 35px;
  }
  .connect-image img {
      width: 414px;
      height: 290px;
   }
}

@media (max-width: 1000px) {
   .connects li > a {
      font-size: 13px;
      line-height: 17px;
  }
   .tel:before, .mail:before {
      left: 4px;
   }
}

@media (max-width: 950px) {
   .connect-text-inner {
      flex-direction: column-reverse;
   }
   .connect-image img {
      width: 100%;
      height: 100%;
   }
   .connect-text {
      margin: 30px 0;
   }
}

@media (max-width: 900px) {
   .firstTitle {
      font-size: 20px;
      line-height: 25px;
  }
}

@media (max-width: 840px) {
   .call-btn {
      width: 100%;
   }
}

@media (max-width: 800px) {
   .connects-list {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 10px;
  }
  .connects li > a {
      font-size: 16px;
      line-height: 17px;
}
  .tel:before, .mail:before {
   bottom: -1px;
   }
}

@media (max-width: 750px) {
   .connect-top-items {
      display: block;
      height: 80vh;
   }
   .connects-list {
      margin-top: 37px;
   }
   .connects li > a {
      margin-top: 22px;
   }
}